.Header{
    padding:20px 20px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    border-bottom: solid 1px #e4e4e4;
}
img{
    width: 100px;
}
.icon_mid svg{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 150px;
}
.icon_find svg{
    margin-left: 30px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.icon_bell svg{
    margin-left: 400px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.icon_fill svg{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.icon_circle svg{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}